h1 {
	font-family: arial;
	color: #FFFFFF;
}

h2 {
 color: #FFFFFF;
 font-family: "Big Regular" ;
}

background {
	background-color: #0000FF;
}

table {
	background-color: #0000FF;
	border-color: FFFFFF ;
}